.card {
    border: 2px solid #FFF;
    border-radius: 8px;
    padding: 8px;
    margin: 6px;
    color: #FFF;
}

.card span a {
    color: white;
}

.card-graph {
    background-color: #282828;
}

.card-list {
    background-color: #282828;
}

.card-container {
    background-color: #000;
}


.marked {
    background-color: #505050;
}

.card hr {
    margin: 3px 0;
}

.title {
    font-family: verdana;
    font-size: 16px;
    font-weight: bold;
    font-color: #fff;
}

.table-row {
    
}

.table-row:hover {
    cursor:pointer;
    background-color: #606060;
}
    